@model racesmiths.Models.ViewModels.InfieldViewModel



@{
    ViewData["Title"] = "Infield";
}

<div class="container">
    <p class="float-left">Next Event:</p>
    <div class="row my-center mt-2">
        @if (Model.Events != null)
        {
            @foreach (var item in Model.Events)
            {
                <div class="upcoming-track">
                    <a asp-controller="Events" asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.TrackName)
                    </a>
                </div><br />

            }
        }
        else
        {
            <div>
                <p>No scheduled events</p>
                @if (User.IsInRole("ClubManager"))
                {
                    <span><a asp-controller="Clubs" asp-action="Details"> Create a Championship</a></span>
                }
            </div>
        }

    </div>
</div>