@model racesmiths.Models.ViewModels.InfieldViewModel



@{
    ViewData["Title"] = "Infield";
}

<div class="container">
    <div class="row my-center mt-2">
        <div class="col-md-6">
            @if (Model.Events.Count == 0)
            {
                <p>No scheduled events</p>

                @if (User.IsInRole("ClubManager") || User.IsInRole("Admin"))
                {
                    <span><a asp-controller="Clubs" asp-action="Details"> Create a Championship</a></span>
                }
            }
            else
            {

                <h2>Next Event:</h2>

                @foreach (var item in Model.Events)
                {
                    <div class="">
                        <a class="upcoming-track" asp-controller="Events" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.TrackName)
                        </a>
                    </div><br />

                }

            }
        </div>
        <div class="col-md">
            @foreach (var item in Model.Clubs)
            {
                <div class="">
                    <h1>
                        <a asp-controller="Clubs" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.ClubName)
                        </a>
                    </h1>
                </div><br />
            }
        </div>
    </div>

</div>