

@{
    ViewData["Title"] = "Infield";
}



<div class="row my-center my-div">
    <div class="col-md-3">
        <a asp-area="" asp-controller="Clubs" asp-action="Index">
            Clubs List
        </a>
    </div>
    <div class="col-md-3">
        <a asp-area="" asp-controller="Champs" asp-action="Index">
            Champs List
        </a>
    </div>
    <div class="col-md-3">
        <a asp-area="" asp-controller="Events" asp-action="Index">
            Events List
        </a>
    </div>
    <div class="col-md-3">
        <a asp-area="" asp-controller="Races" asp-action="Index">
            Races List
        </a>
    </div>
</div>
